{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="p-3 success-text-emphasis bg-success-subtle border-3 rounded-3">
                    {{ message }}
                </div>
            {% endfor %}
            {% endif %}
    {% endwith %}
    
    <div class="divider"></div>

    <div class="center">
        {% for msg in msgs %}
        <h3>{{Session.query(User).filter(User.id == msg.writer).first().name}}<br></h3>
            {% if msg.writer == user.id %}
                <form action="{{ url_for('message.delete_message', msg_id=msg.id) }}" method="POST" style="float: right;">
                    <button type="submit" style="margin-right: 10px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </button>
                </form>
            
                <div id="message-box"
                style="background-color: lightgreen; border-color: green;">
                    <p>{{msg.content}}<br>
                        <sub>{{msg.date}}   {{msg.time}}</sub></p>
                    
                </div>
            {% else %}
                <div id="message-box" 
                style="background-color: lightgrey; border-color: grey;">
                        
                    <p>{{msg.content}}<sub>{{msg.date}}   {{msg.time}}</sub></p>
                    
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <div style="position: fixed; bottom: 5px; left: 200px; width: 100%;">
        <form action="{{ url_for('message.create_message') }}" method="POST">
            <textarea style="resize: none;" rows="1" cols="50" id="myInput" name="content" placeholder="Enter"></textarea>
            <button type="submit" class="fa fa-paper-plane" style="height: 30px;"></button>
        </form>
    </div>

    <style>
        #message-box{
            margin: 20px 100px 20px 100px;
            padding: 10px 20px 10px 20px;
            width: fit-content;
            height: fit-content;
            border-width: 4px;
            border-style: solid;
            border-radius:  10px;
        }
    </style>
    

{% endblock %}